.main-container{
    border:1px solid #C2C2C2 ;
    width: 1370px;
    margin: auto;
    background-color: #F7F7F7;
    text-decoration: none;
    /* filter: blur(1px 1px grey); */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
h1{
    margin-left: 10%;
}
.head{
    text-align: left;
    font-weight: bold;
    text-align: left;
    height: 94px;
    width: 1367px;
    border:1px solid #ffffff;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #7B7B7B29;
}

#black{
    color:#424242;   
}

#blue{
    color:#00A5EC;
}
.task{
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0 2% 80% ;
    text-decoration: none;
}
.circle{
    border: 2px solid #00A5EC;
    background-color: #00A5EC;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 6px;
}
.plus-horizontal{
    border: 1px solid white;
    margin-top: 45%;
    background-color: white;
    margin-left: 28%;
    width: 22px;
}
.plus-vertical{
    border: 1px solid white;
    margin-top: -2%;
    background-color: white;
    margin-left: 28%;
    width: 22px;
    transform: rotate(90deg);
}
.add-task{
    font-size: 20px;
}

.boxes{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 21px;
    margin-left: 133px;
    margin-right: 202px;
    
}

.box{
    border: 2px solid rgb(237, 233, 233);
    background-color:#FFFFFF ;
    height: 300px;
    width: 300px; 
    border-radius: 10px;
    cursor: pointer;
}

.box:hover{
    box-shadow: 0px 0px 4px 4px grey;
}
.box2{
    margin-left: -80px;
}
.box3{
    margin-left: -80px;
}
.box4{
    margin-left: 40px;
}
.box5{
    margin-right: 366px;
}

h4{
    color: #00A5EC;
    margin-left: 40px;
}

hr{
    background-color: black;
}
 
.checkboxed{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.tickbox1 {
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #C2C2C2;
    margin-left: -88px;
    margin-top: 12%;
}

.tick1 {
    border: 2px solid white;
    width: 4px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-137deg);
    margin-left: 5px;
    margin-top: 17px;
}
.tick2 {
    border: 2px solid white;
    width: 19px;
    background-color: rgb(255, 255, 255);
    transform: rotate(316deg);
    margin-left: 7px;
    margin-top: -9px;
}
#vc{
    margin-left: -38px;
    text-decoration: line-through;
    color: #C2C2C2;
}
.uncheck1 {
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #C2C2C2;
    margin-left: -104px;
    margin-top: 12%;
}
#shopping{
    margin-left: -50px;
    color: #424242;
}


#tb1{
    margin-left: -64px;
}
#vs{
    margin-left: -18px;
    text-decoration: line-through;
    color: #C2C2C2;
}
#uc1{
    margin-left: -80px;
}
#bv{
    margin-left: -32px;
    color: #424242;
}


#tb2{
    margin-left: -64px;
}
#st{
    margin-left: -18px;
    text-decoration: line-through;
    color: #C2C2C2;
}
#uc2{
    margin-left: -55px;
}
#ae{
    margin-left: -8px;
    color: #424242;
}


#tb3{
    margin-left: -64px;
}
#w6{
    margin-left: -18px;
    text-decoration: line-through;
    color: #C2C2C2;
}
#uc3{
    margin-left: -77px;
}
#s10{
    margin-left: -32px;
    color: #424242;
}  


#tb4{
    margin-left: -46px;
}
#de{
    margin-left: 2px;
    text-decoration: line-through;
    color: #C2C2C2;
}
#uc4{
    margin-left: -107px;
}
#alchemist{
    margin-left: -57px;
    color: #424242;
}  

/* .box{
    border: 2px solid #EDEDED;
    background-color: #fd0202;
    border-radius: 10px;
    opacity: 1;
    height: 250px;
    width: 500px;
    left: 433px;
    margin: auto;
    /* margin-top: 184px;
    margin-left: 433px;; */
    /* box-shadow: 0px 0px 20px #67676729;
    margin: 184px 893px 602px; */
/* } */
/* h2{
    margin-left: 27px;
}

.cancel1{
    border: 1px solid black;
    background-color: black;
    height: 20px;
    width: 1px;
    transform: rotate(120deg);
    margin-left: 100px;
}
.cancel2{
    border: 1px solid black;
    background-color: black;
    height: 20px;
    width: 1px;
    transform: rotate(-120deg);
    margin-left: 100px;
    margin-top: -22px;
}  */